.App {
  max-width: 400px;
  margin-left: 80vh;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #050000;
  text-align: left;
}

h1 {
  font-size: 24px;
}

.TaskList {
  margin-top: 20px;
}

.Task {
  margin: 10px 0;
}